@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
}
header {
    display: flex;
    height: 20vh;
    width: 100%;
    background-image: url('/src/images/yellow.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-size: 100%;
    background-color: #0174BE;
    color: #072541;
    justify-content: center;
}
header h1{
    font-size: 4rem;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #0174BE;
    height: 100vh;
    color: #FFFFFF;
    font-size: 2.2rem;
}
input {
    border-bottom: #FFC436;
    border-style: solid;
    border: 10rem;
    all: unset;
}